body {
    font-family: Dosis;
    color: 000;
    font-size: 18px;
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: antiquewhite;
    font-size: 32px;
    grid-area: header;
}

.left {
    background-color: aquamarine;
    padding: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    grid-area: left;
}

.right {
    background-color: bisque;
    padding: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    grid-area: right;
}

.content {
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "left header right";
}

@media screen and (max-width: 900px) {
   .content{
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "left header header"
    "right right right";
   }
}

@media screen and (max-width: 700px) {
   .content{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "left"
    "right";
   }
}