<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="column_drop.css" />
</head>
<body>
    <div class="content">
        <header>
            Header
        </header>
        <div class="left">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, commodi inventore. In molestiae quasi consequuntur tempore vero iure pariatur suscipit voluptas, soluta, assumenda commodi nemo obcaecati reiciendis harum tempora fugit!
        </div>
        <div class="right">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem obcaecati fugit mollitia quam veniam eos quos molestias placeat tenetur ipsa debitis, blanditiis perferendis deserunt officia, non numquam eius similique vero?
        </div>
    </div>
</body>
</html>