* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo {
  display: flex;
  // position: absolute;
  // left: 50%;
  // top: 50%;
  // width: 100%;
  // // width: calc(100vw - 100px);
  // height: calc(100vh - 100px);
  height: 100vh;
  // transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;

  &__sidebar {
    background-color: #f4f6f8;
    width: 40px;
    // width: 200px;
    min-height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }

  &__tasks {
    flex: 1;
    padding: 60px;
    overflow: auto;
  }
}
@media screen and (min-width: 700px) {
  .todo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    transform: translate(-50%, -50%);

    &__sidebar {
      width: 200px;
    }
  }
}

input {
  background: darken(#ffffff, 1%);
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;

  &:focus {
    border-color: #dbdbdb;
    background: #ffffff;
  }
}

.button {
  background: #4dd599;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background: darken(#4dd599, 10%);
  }
  &:active {
    background: darken(#4dd599, 15%);
  }

  &--grey {
    background: #f4f6f8;
    color: #444444;

    &:hover {
      background: darken(#f4f6f8, 10%);
    }
    &:active {
      background: darken(#f4f6f8, 15%);
    }
  }
}
