body {
    font-family: Dosis;
    color: 000;
    font-size: 18px;
}

.content {
    display: flex;
    height: 1000px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: antiquewhite;
    font-size: 32px;
    grid-area: header;
}